* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {list-style: none;}
a {text-decoration: none;}

#main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* Table Section */
.table-container{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    width: 80%;
    position: relative;
    max-width: 1400px;
    margin: 50px auto;
    padding: 0 50px;
}
table{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-collapse: collapse;
    table-layout: fixed;
}
thead th{
    font-weight: bold;
    background-color: #5D4037;
    color: white;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 20px;
    border: none;
}
tbody td{
    background-color: #fff;
    text-align: left;
    line-height: 1.5;
    padding: 15px;
    border: 1px solid #eee;
}
tbody td ul{
    padding-left: 25px;
    margin: 10px 0;
}
tbody td ul li{
    display: list-item;
    list-style-type: disc;
}
tbody td img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* place the image at the center */
    border-radius: 8px;
}

.name{
    font-size: 0.8rem;
    font-weight: bold;
}

/* Coffee Guide Image */
.photo-cell {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}
.coffee-sketch {
  display: inline-block;
}
.glass-body {
  width: 70px;
  height: 85px;
  border: 2px solid #3d3d3d;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.5); 
}
.layer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: center;
}
.espresso {
  height: 20%;
  background-color: #2c1a12;
  color: #fff;
}
.crema {
  height: 5%;
  background-color: #c29545;
}
.hot-water{
    height: 60%;
    background-color: #9ecae1;
}
.milk-foam{
    height: 20%;
    background-color: #ffeff3;
}
.steamed-milk{
    height: 20%;
    background-color: #ffffc5;
}
.hot-chocolate{
    height: 20%;
    background-color: #6f5f54;
    color:#fff;
    font-size: 7px;
}
.ice-cream{
    height: 50%;
    background-color: #e89eb8;
}
.cream{
    height: 20%;
    background-color: #f5fdff;
}
.whiskey{
    height: 20%;
    background-color: #e86100;
}