* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {list-style: none;}
a {text-decoration: none;}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header Section */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #f9f1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.header-container{
    width: 100%;
    height: 100%;
    max-width: 1800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    margin: 0 auto;
}

.logo {
    height: 30px;
    display: inline-block;
    margin: 0;
}
.logo img{
    height: 100%;
    width: auto;
    display: block;
}

/* --- Navigation & Hambuger menu --- */
nav {position: static;}
#nav-toggle{display: none;}
.navicon {
    position: fixed;
    top: 40px;
    right: 30px;
    transform: translate(-50%); /* Adjusts position perfectly to the center */
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    z-index: 200;
}
/* Middle line of the hambuger icon */
.navicon-bar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background: #222;
    z-index: 100;
}
/* Top and bottom line of the hambuger icon */
.navicon::before,
.navicon::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #222;
    transition: all 0.3s;
}
.navicon::before {top: 0;}
.navicon::after {bottom: 0;}
/* Hamburger 'X' Animation (when checkbox is checked */
#nav-toggle:checked + .navicon .navicon-bar {opacity: 0;}
#nav-toggle:checked + .navicon::before {top: 50%; transform: translateY(-50%) rotate(-45deg);}
#nav-toggle:checked + .navicon::after {bottom: auto; top: 50%; transform: translateY(-50%) rotate(45deg);}
/* Dropdown Menu */
.nav-items{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 99;
}
/* show the dropdown menu when the hidden checkbox is checked */
#nav-toggle:checked ~ .nav-items {
    display: flex;
}
.nav-items li a {
    font-size: 50px;
    padding: 10px 20px;
    color: rgba(0,0,0,0.5);
    display: block;
    position: relative;
    z-index: 2;
}
.nav-items li a::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 0; 
    background: rgba(93, 64, 55, 0.5); 
    transition: height 0.3s ease; 
    z-index: 1; 
}
.nav-items li a:hover::before{
    height: 100%;
}


#backToTopBtn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: #4a5568;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
#backToTopBtn.show{
    display: block;
    opacity: 1;
}
#backToTopBtn:hover{
    background-color: #2d3748;
}

